// /* Font Face for Bold Font */
@font-face {
  font-family: "AlHurraBold";
  src: url("../../../assets/fonts/Al-Hurra-Txtreg-Bold.ttf") format("truetype");
  font-weight: 700; /* Bold weight */
  font-style: normal;
}

/* Font Face for Regular Font */
@font-face {
  font-family: "AlHurraRegular";
  src: url("../../../assets/fonts/Alhurra_regular.ttf") format("truetype");
  font-weight: 400; /* Regular weight */
  font-style: normal;
}

/* Font Face for Light Font */
@font-face {
  font-family: "AlHurraLight";
  src: url("../../../assets/fonts/AlHurra-Font-Light.ttf") format("truetype");
  font-weight: 300; /* Light weight */
  font-style: normal;
}

/* CSS Class for Bold Font */
.font-bold {
  font-family: "AlHurraBold", sans-serif;
  font-weight: 700; /* Ensure it's bold */
}

/* CSS Class for Regular Font */
.font-regular {
  font-family: "AlHurraRegular", sans-serif;
  font-weight: 400; /* Ensure it's regular */
}

/* CSS Class for Light Font */
.font-light {
  font-family: "AlHurraLight", sans-serif;
  font-weight: 300; /* Ensure it's light */
}

$mainFont: "AlHurraRegular", sans-serif;

$s: left;
$e: right;

$n: -1;
$p: 1;

body {
  direction: ltr;
  font-family: $mainFont;
}
