@font-face {
  font-family: "AlHurraBold";
  src: url("/assets/fonts/Al-Hurra-Txtreg-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.landin_page {
  font-family: "AlHurraBold", sans-serif; /* Fallback fonts */
  overflow-x: hidden;
  span.nums {
    font-family: Verdana, Tahoma, sans-serif; /* Use fallback for numbers */
    font-weight: bold;
  }

  .hero_sec {
    background-color: #106ad41f;
    text-align: center;
    padding-bottom: 2rem;
    position: relative;

    .title {
      font-size: 79.35px;
      font-weight: 400;
      line-height: 122.55px;
      text-align: center;
      color: #106ad4;
      margin-bottom: 40px;
      max-width: 56%;
      margin: auto;
      padding-top: 82px;
      text-align: center;
      @include responsive(max, 1024px) {
        max-width: 100%;
      }
    }
    .subtitle {
      font-size: 20.8px;
      font-style: italic;
      font-weight: 300;
      line-height: 36.28px;
      margin-bottom: 48px;
    }
    .btn_register {
      // width: 250px;
      height: 72px;
      background-color: #106ad4;
      color: white;
      border-radius: 32px;
      padding: 18px 86px;
      font-size: 20.8px;
      font-weight: 300;
      line-height: 36.28px;
      text-align: center;
      margin-bottom: 65px;
    }
    .iframe_container {
      width: 90%;
      height: 522px;
      border-radius: 25.86px;
      margin: auto;
      iframe {
        border-radius: 25.86px;
      }
    }
    .right_icon {
      position: absolute;
      top: 25%;
      right: 2%;
      @include responsive(max, 1024px) {
        right: 6%;
        top: 35%;
      }
      @include responsive(max, 768px) {
        top: 40%;
      }
      @include responsive(max, 425px) {
        display: none;
      }
    }
    .star_icon {
      position: absolute;
      top: 30%;
      right: 13%;

      @include responsive(max, 1024px) {
        top: 40%;
        right: 22%;
      }
      @include responsive(max, 425px) {
        display: none;
      }
    }
    .left_icon {
      position: absolute;
      top: 25%;
      left: 4%;
      @include responsive(max, 1024px) {
        left: 6%;
        top: 35%;
      }
      @include responsive(max, 768px) {
        top: 40%;
      }
      @include responsive(max, 425px) {
        display: none;
      }
    }
  }
  .intro {
    padding-top: 160px;
    padding-bottom: 160px;
    .container {
      margin-left: 0;
      padding-left: 0;
    }
    .title {
      font-size: 50.78px;
      font-weight: 700;
      line-height: 71.09px;
      color: #1e1e1e;
      text-align: right;
      margin-bottom: 32px;
    }
    .subtitle {
      font-size: 20.8px;
      font-weight: 300;
      line-height: 36.28px;
      text-align: right;
      margin-bottom: 32px;
    }
    .ul_points {
      font-size: 20.8px;
      font-weight: 700;
      line-height: 36.28px;
      text-align: right;
      color: #106ad4;
      direction: rtl;
      margin-bottom: 48px;
    }
    .btn_reserve {
      // width: 325px;
      height: 80px;
      border-radius: 32px;
      background-color: #106ad4;
      color: white;
      font-size: 24px;
      font-weight: 300;
      line-height: 41.86px;
      text-align: right;
      text-align: center;
      padding: 19px 78px;
    }
    .iframe_container {
      position: absolute;
      top: 6%;
      left: 5%;
      opacity: 0.8;
      width: 100%;
      height: 100%;
      iframe {
        width: 92%;
        height: 100%;
        border-radius: 19.82px;
      }
    }
    .shape_img {
      width: 50%;
      height: 67%;
      border: 2px solid red;
      display: none;
      @include responsive(max, 1024px) {
        width: 46%;
        height: 46%;
      }

      @include responsive(max, 768px) {
        width: 66%;
        height: 66%;
      }
      @include responsive(max, 425px) {
        display: none;
      }
    }
  }
  .sec_3 {
    padding-bottom: 160px;
    .title {
      font-size: 50.78px;
      font-weight: 700;
      line-height: 76.17px;
      text-align: right;
      margin-bottom: 80px;
    }
    .cards_container {
      row-gap: 48px;
      .card {
        padding-top: 90px;
        padding-right: 87px;
        padding-bottom: 46px;
        padding-left: 44px;
        text-align: right;
        width: 96%;
        background-color: #99b2dd;
        border: none;
        height: 449px;
        @include responsive(max, 1024px) {
          height: 100%;
        }

        img {
          margin-bottom: 39px;
        }
        .card_title {
          font-size: 32.5px;
          font-weight: 700;
          line-height: 39px;
          margin-bottom: 29px;
          color: #3a405a;
        }
        .card_desc {
          font-size: 20.8px;
          font-weight: 300;
          line-height: 32px;
          margin-bottom: 29px;
          color: #3a405a;
        }
        .anc_learn {
          font-size: 16.64px;
          font-weight: 700;
          line-height: 29.02px;
          color: #3a405a;
        }
      }
    }
  }
  .slider_sec {
    background-color: #106ad4;
    padding-bottom: 72px;
    .title {
      text-align: center;
      font-size: 50.78px;
      font-weight: 700;
      line-height: 71.09px;
      color: white;
      padding-top: 72px;
      margin-bottom: 80px;
    }
    .card {
      width: 100%;
      height: 200px;
      padding: 16px;
      border-radius: 16px;
      background-color: #fff;
      text-align: center;
      @include responsive(max, 1024px) {
        height: 250px;
      }

      .card_title {
        margin-top: 20px;
        margin-bottom: 10px;
        font-size: 18px;
        font-weight: 700;
        line-height: 28px;
        color: #1e1e1e;
      }
      .card_subtitle {
        font-size: 16px;
        font-style: italic;
        font-weight: 300;
        line-height: 24px;
        color: #666666;
      }
    }
    .swiper-container {
      width: 100%;
      height: 300px; /* Set a fixed height or adjust as needed */
      overflow: hidden;
      position: relative;
    }

    .swiper-wrapper {
      display: flex;
      position: relative;
    }

    .swiper-slide {
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
    }
    .swiper-pagination-bullet-active {
      background-color: white !important;
    }
  }
  .follow_up_sec {
    padding-top: 160px;
    padding-bottom: 160px;
    text-align: right;
    .title {
      font-size: 50.78px;
      font-weight: 700;
      line-height: 71.09px;
      text-align: right;
      margin-bottom: 24px;
      color: #1e1e1e;
    }
    .subtitle {
      font-size: 20.8px;
      font-style: italic;
      font-weight: 300;
      line-height: 36.28px;
      color: #00000033;
      margin-bottom: 80px;
    }
    .flex {
      display: flex;
      align-items: center;
      gap: 58px;
      margin-bottom: 32px;
      direction: rtl;
    }
    .card {
      padding-top: 42px;
      padding-right: 24px;
      padding-bottom: 24px;
      padding-left: 24px;
      width: 38%;
      border: none;
      @include responsive(max, 425px) {
        width: 100%;
      }
      .img_icon {
        margin-bottom: 16px;
      }
      .card_title {
        font-size: 20px;
        font-weight: 700;
        line-height: 24px;
        margin-bottom: 12px;
        color: #3a405a;
      }
      .card_desc {
        font-size: 14px;
        font-style: italic;
        font-weight: 300;
        line-height: 21px;
        text-align: right;
        color: #3a405a;
      }
    }
  }
  .success_stories {
    text-align: right;
    direction: rtl;
    padding-bottom: 224px;
    .title {
      font-size: 50.78px;
      font-weight: 700;
      line-height: 71.09px;
      color: #1e1e1e;
      margin-bottom: 24px;
      text-align: center;
    }
    .subtitle {
      font-size: 20.8px;
      font-style: italic;
      font-weight: 300;
      line-height: 36.28px;
      color: #00000033;
      margin-bottom: 64px;
      text-align: center;
    }
    .card {
      padding: 16px;
      border: 1px solid #b3b3b3;
      border-radius: 12px;
      height: 170px;
      // width: 89%;
      width: 96%;
      height: 170px;
      @include responsive(max, 1024px) {
        height: 200px;
      }
      img {
        width: 48px;
        height: 48px;
        border-radius: 50%;
      }
      .flex_center {
        display: flex;
        gap: 12px;
      }
      .card_title {
        font-size: 16px;
        font-weight: 700;
        line-height: 28px;
        text-align: right;
        color: #1e1e1e;
        margin-bottom: 2px;
      }
      .card_subtitle {
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        color: #999999;
        margin-bottom: 22px;
      }
      .card_desc {
        font-size: 20px;
        font-style: italic;
        font-weight: 300;
        line-height: 32px;
        color: #1e1e1e;
      }
    }
    .gap_26 {
      row-gap: 32px;
    }
  }

  .join_us_sec {
    background-color: #106ad4;
    color: white;
    padding-top: 103px;
    padding-bottom: 117px;
    direction: rtl;
    .center_flex {
      display: flex;
      align-items: center;
    }
    .title {
      font-size: 50.78px;
      font-weight: 700;
      line-height: 71.09px;
      color: white;
      margin-bottom: 32px;
    }
    .subtitle {
      font-size: 20.8px;
      font-style: italic;
      font-weight: 300;
      line-height: 36.28px;
      margin-bottom: 48px;
      color: white;
    }
    .btn_join {
      // width: 239px;
      height: 80px;
      padding: 19px 78px;
      border-radius: 32px;
      font-size: 24px;
      font-weight: 300;
      line-height: 41.86px;
      background-color: #fff;
      color: #106ad4;
    }
    .images_container {
      display: flex;
      align-items: center;
      position: relative;
    }
    .images_container {
      width: 100%;
    }
    .start {
      position: absolute;
      top: 0;
      right: -2%;
    }
  }
  .last_sec {
    padding-top: 160px;
    padding-bottom: 160px;
    direction: rtl;

    .title {
      font-size: 50.78px;
      font-weight: 700;
      line-height: 71.09px;
      text-align: center;
      color: #1e1e1e;
      margin-bottom: 24px;
    }
    .subtitle {
      font-size: 20.8px;
      font-style: italic;
      font-weight: 300;
      line-height: 36.28px;
      text-align: center;
      color: #00000033;
      margin-bottom: 108px;
    }

    .card {
      direction: rtl;
      background-color: #f5f5f5;
      border-radius: 32px;
      padding: 53px 51px;
      position: relative;
      width: 92%;
      .card_title {
        font-size: 53.16px;
        font-weight: 400;
        line-height: 82.1px;
        text-align: center;
        color: #106ad4;
        margin-bottom: 35px;
      }
      .price {
        font-size: 31.89px;
        font-weight: 500;
        line-height: 38.06px;
        text-align: center;
        color: #4d4d4d;
        margin-bottom: 32px;
      }
      .hr {
        margin-bottom: 32px;
        background-color: #d4d4d4;
      }
      .duration {
        font-size: 20px;
        font-weight: 400;
        line-height: 25.6px;
        text-align: right;
        color: #000000;
        margin-bottom: 20px;
      }
      .li {
        font-size: 16px;
        font-style: italic;
        font-weight: 300;
        line-height: 25.6px;
        text-align: right;
        list-style: url("/assets/images/landing_page/true_icon.svg");
      }
      .btn_subscribe {
        border-radius: 14.18px;
        background-color: #106ad4;
        color: white;
        font-size: 23.03px;
        font-weight: 300;
        line-height: 40.18px;
        text-align: center;
        padding: 18px 61px;
        display: flex;
        align-items: center;
        gap: 12px;
        width: fit-content;
        margin: auto;
        margin-top: 32px;

        &::after {
          content: url("/assets/images/landing_page/Arrow\ .svg");
        }
      }
      .badge {
        background-color: #106ad4;
        border-radius: 8px;
        color: white;
        padding: 15px 74px;
        position: absolute;
        top: 0;
        display: flex;
        align-items: center;
        font-size: 16px;
        font-weight: 400;
        line-height: 24.71px;
        text-align: center;
        top: -5%;
        left: 28%;
        @include responsive(max, 768px) {
          left: 14%;
        }
        @include responsive(max, 768px) {
          left: 20%;
        }
      }
    }
  }
}
.whatsapp_container {
  position: fixed;
  bottom: 0;
  left: 54px;
  width: 45%;
  background-color: white;
  border-radius: 8px;
  border: 1px solid #d7dedd;
  padding: 24px;
  z-index: 99;
  display: flex;
  flex-direction: column;
  width: 21%;
  height: 41%;
  transition: opacity 1s ease, height 1s ease;
  opacity: 1;
  height: auto;
  overflow: hidden; /* This helps with the height transition */
  @include responsive(max, 768px) {
    width: 30%;
  }
  @include responsive(max, 425px) {
    width: 30%;
    left: 0;
    padding: 12px;
  }
  @include responsive(max, 425px) {
    width: 40%;
  }

  &.hide {
    opacity: 0;
    height: 0;
    pointer-events: none; /* Prevent interaction during the transition */
  }
  .btn_register {
    background-color: #106ad4;
    width: 100%;
    height: 72px;
    // padding: 18px 88px;
    font-size: 20.8px;
    font-weight: 300;
    line-height: 36.28px;
    text-align: center;
    margin-bottom: 16px;
    color: white;
    border-radius: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    @include responsive(max, 425px) {
      width: auto;
      height: auto;
    }
  }

  .btn_whatsapp {
    width: 100%;
    height: 72px;
    border-radius: 32px;
    background-color: #1e1e1e;
    color: white;
    font-size: 20.8px;
    font-weight: 300;
    line-height: 36.28px;
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: center;
    // padding: 18px 37px;
    @include responsive(max, 425px) {
      width: auto;
      height: auto;
    }
    .whatsapp_img {
      width: 24px;
      height: 24px;
    }
  }
  .btn-close {
    margin-bottom: 32px;
    cursor: pointer;
  }

  // .navbar-collapse {
  //   flex-grow: 0 !important;
  // }
}

.navbar_landing {
  height: 121px;
  position: sticky;
  top: 0;
  background-color: #fff;
  z-index: 999;
  .nav-link {
    font-size: 20.8px;
    font-weight: 300;
    line-height: 36.28px;
    color: #3a405a;
    margin-right: 25px;
  }

  .btn_register_nav {
    border: 1px solid #106ad4;
    color: #106ad4;
    font-size: 20.8px;
    font-weight: 300;
    line-height: 36.28px;
    border-radius: 32px;
    padding: 14px 51px;
    &:hover {
      background-color: #106ad4;
      color: white;
    }
    @include responsive(max, 425px) {
      font-size: 16px;
      line-height: 25.6px;
      padding: 10px;
    }
  }
}

.registerationModal {
  text-align: center;
  .title {
    font-size: 32px;
    font-weight: 700;
    line-height: 55.81px;
    text-align: center;
    margin-bottom: 24px;
    color: #1e1e1e;
    direction: rtl;
  }
  .modal-content {
    padding: 40px;
    border-radius: 8px;
    border: 1px solid #d7dedd;
  }

  .modal-body {
    padding: 0;
  }
  .hr {
    background-color: #106ad43d;
  }
  .form_container {
    text-align: right;
    padding-inline: 45px;
    padding-block: 24px;
    padding-bottom: 0;
    direction: rtl;
    .input_group {
      margin-bottom: 28px;
    }
    .label_class {
      font-size: 14px;
      font-weight: 400;
      line-height: 24.42px;
      color: #333333;
      margin-bottom: 4px;
    }
    .input_class {
      box-shadow: 0px -1.02px 0px 0px #484747 inset;
      border: none;
      padding: 8px;
      border-radius: 0;
      font-size: 14px;
      font-weight: 400;
      line-height: 24.42px;
      text-align: right;
      color: #1e1e1e;
      background: #ffffff;
      border-bottom: 1.2px solid #484747;
    }
    ::placeholder {
      font-size: 14px;
      font-weight: 400;
      line-height: 24.42px;
      color: #1e1e1e;
    }
    .form-control:focus {
      border-color: #106ad4;
      color: #106ad4;
      box-shadow: 0px -1.02px 0px 0px #106ad4 inset;
    }

    .btn_send {
      width: 100%;
      height: 40px;
      border-radius: 8px;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      background-color: #106ad4;
      color: white;
      margin: 0;
    }
    .modal-footer {
      display: flex;
      padding: 0;
    }
  }
}
.txt_area {
  resize: none;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}

@media (max-width: 768px) {
  .container {
    --bs-gutter-x: 2rem;
  }
}
